# Apply to all files
* @nbolton @sithlord48

# Translators
synergy/translations/deskflow_es.ts @sithlord48
synergy/translations/deskflow_it.ts @sithlord48
synergy/translations/deskflow_ja.ts @ykasap
synergy/translations/deskflow_ru.ts @levpr1c
synergy/translations/deskflow_zh_CN.ts @sailordiary
