# Apply to all files
* @nbolton @sithlord48

# Translators
translations/synergy_es.ts @sithlord48
translations/synergy_it.ts @sithlord48
translations/synergy_ja.ts @ykasap
translations/synergy_ru.ts @levpr1c
translations/synergy_zh_CN.ts @sailordiary
