# SPDX-FileCopyrightText: (C) 2026 TuPig
# SPDX-FileCopyrightText: (C) 2012 - 2026 Synergy App Ltd
# Upstream copyright retained intentionally (A-24); current project is TuPig.
# SPDX-License-Identifier: GPL-2.0-only WITH LicenseRef-OpenSSL-Exception

[Desktop Entry]
Type=Application
Version=1.0
Name=TuPig Synergy
Comment=Share one keyboard and mouse between computers
Exec=synergy
Icon=com.tupig.synergy
Terminal=false
Categories=Utility;
Keywords=keyboard;mouse;sharing;network;share;
