# SPDX-FileCopyrightText: Chris Rizzitello <https://github.com/Tupig/Tupig_synergy/issues>
# SPDX-License-Identifier: MIT

#auto handle line feed
* text=auto eol=lf

.gitattributes export-ignore
.gitignore export-ignore
.github* export-ignore
